#container::part(scroll) {
  --overflow: hidden !important;
}

ion-label ion-button {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 5px;
}

flex-container {
  display: flex;
  flex-direction: row;
}

.option::part(native) {
  width: 120px !important;
  height: 30px !important;
}
