<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span class="fontKuning">Data</span> Peminjaman</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="container">
  <ion-header collapse="condense">
    <ion-toolbar class="ion-text-center">
      <p class="judulIOS"><span class="fontKuning">Data</span> Peminjaman</p>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-button
      color="warning"
      expand="block"
      [routerLink]="['/peminjaman_tambah']"
      >Tambah Peminjaman</ion-button
    >
  </ion-card>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="Tarik Untuk Memuat Data"
        refreshingSpinner="circles"
        refreshingText="Memuat Ulang Data..."
      >
      </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let item of lists">
      <ion-item>
        <ion-label>
          <div class="ion-padding-top ion-padding-bottom">Id Peminjaman : {{item.id_peminjaman}}</div>
          <table>
            <tr>
              <td>Nama</td>
              <td>:</td>
              <td>{{item.nama}}</td>
            </tr>
            <tr>
              <td>Judul</td>
              <td>:</td>
              <td>{{item.judul}}</td>
            </tr>
            <tr>
              <td>Tanggal Pinjam</td>
              <td>:</td>
              <td>{{item.tanggal_peminjaman}}</td>
            </tr>
            <tr>
              <td>Batas Kembali</td>
              <td>:</td>
              <td>{{item.batas_pengembalian}}</td>
            </tr>
            <tr *ngIf="item.status_pengembalian == 'Sudah kembali'">
              <td>Tanggal Kembali</td>
              <td>:</td>
              <td>{{item.tanggal_pengembalian}}</td>
            </tr>
            <tr>
              <td>Status Kembali</td>
              <td>:</td>
              <td>{{item.status_pengembalian}}</td>
            </tr>
            <tr *ngIf="item.denda != 0 && item.denda != null">
              <td>Denda</td>
              <td>:</td>
              <td>{{item.denda}}</td>
            </tr>
            <tr *ngIf="item.denda != 0 && item.denda != null">
              <td>Status Denda</td>
              <td>:</td>
              <td>{{item.status_denda}}</td>
            </tr>
          </table>
          <!-- <ion-button color="primary" slot="end" [routerLink]="['/peminjaman_edit/',item.id_peminjaman]"
            routerLinkActive="router-link-active">Edit</ion-button> -->
          <div *ngIf="item.status_pengembalian == 'Masih dipinjam'">
            <ion-button
              class="option"
              color="success"
              (click)="kembalikanPeminjaman(item.id_peminjaman)"
              >Kembalikan</ion-button
            >
          </div>
          <div *ngIf="item.status_denda == 'Belum Bayar'">
            <ion-button
              class="option"
              color="primary"
              (click)="bayarkanDenda(item.id_peminjaman)"
              >Bayar<br />Denda</ion-button
            >
          </div>
          <ion-button
            class="option"
            color="danger"
            slot="end"
            (click)="deletePeminjaman(item.id_peminjaman)"
            >Hapus</ion-button
          >
        </ion-label>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content
        loadingSpinner="circles"
        loadingText="Sedang Memuat Data..."
      >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-card style="height: 120px; visibility: hidden"> </ion-card>
</ion-content>
</ion-content>
